{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container container-auth-bg">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <h2 class="auth-title">{% trans "Sign In" %}</h2>


<p class="auth-text">{% blocktrans %}Welcome to my Watch List. To recommend me something to watch, give a thumbs up to something 
  youv've already watched or to leave a comment, please sign in. If you have not created an account yet, 
  please <a href="{{ signup_url }}" class="link">sign up</a>{% endblocktrans %}</p>


<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="primaryAction btn btn-danger auth-btn" type="submit">{% trans "Sign In" %}</button>
</form>

</div>
</div>
</div>

{% endblock %}
