{% extends "base.html" %}

{% block content %}

<button type="button" class="btn btn-primary">+Add</button>

<div class="container-fluid">
    <div class="row">

        {% for media in media_list %}

        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                {% if "placeholder" in media.media_image.url %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/660px-No-Image-Placeholder.svg.png?20200912122019" class="card-img" alt="...">
                {% else %}
                <img src="{{ media.media_image.url }}" class="card-img" alt="...">
                {% endif %}
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <a href="{% url 'media_detail' media.slug %}">
                        <h5 class="card-title">{{ media.title }}</h5>
                      </a>
                        <strong>
                          {% if user.is_authenticated %}
                          <form class="d-inline" action="{% url 'media_recommended' media.slug%}" method="POST">
                              {% csrf_token %}
                              {% if recommended %}
                  
                              <button><i class="fa-solid fa-thumbs-up"></i></button>
                  
                              {% else %}
                  
                              <button><i class="fa-regular fa-thumbs-up"></i></button>
                  
                              {% endif %}
                          </form>
                          {% else %}
                  
                          <span><i class="fa-regular fa-thumbs-up"></i></span>
                          {% endif %}
                          <span>{{ media.number_of_recommended }}</span>
                        </strong>
                    
                </div>
              </div>
            </div>
          </div>

        {% endfor %}

    </div>

    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}

</div>

{% endblock %}