{% extends "base.html" %} {% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="row">

<div class="media">
    {% if "placeholder" in media.media_image.url %}
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/660px-No-Image-Placeholder.svg.png?20200912122019" class="align-self-center mr-3" alt="...">
    {% else %}
            <img src="{{ media.media_image.url }}" class="align-self-center mr-3" alt="...">
    {% endif %}
    <div class="media-body">
      <h5 class="mt-0">{{ media.title }}</h5>
      <strong>
        {% if user.is_authenticated %}
        <form class="d-inline" action="{% url 'media_recommended' media.slug%}" method="POST">
            {% csrf_token %}
            {% if recommended %}

            <button><i class="fa-solid fa-thumbs-up"></i></button>

            {% else %}

            <button><i class="fa-regular fa-thumbs-up"></i></button>

            {% endif %}
        </form>
        {% else %}

        <span><i class="fa-regular fa-thumbs-up"></i></span>
        {% endif %}
        <span>{{ media.number_of_recommended }}</span>
      </strong>
    
      <br>
      <span class="badge badge-primary">{{ media.platform }}</span>
      <span class="badge badge-primary">{{ media.genre }}</span>
      <span class="badge badge-primary">{{ media.type }}</span>
      <br>
      <p class="mb-0">{{ media.description }}</p>

      <button type="button" class="btn btn-outline-success">Edit</button>
      <button type="button" class="btn btn-outline-danger">Delete</button>

    </div>
  </div>

  </div>
  </div>

  <div class="row">
    <div class="col">
        <hr>
    </div>
</div>
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 ">
        <h3>Comments:</h3>
        <div class="card-body">
            {% for comment in comments %}
            <div class="comments" style="padding: 10px;">
                <p class="font-weight-bold">
                    {{ comment.name }}
                    <span class=" text-muted font-weight-normal">
                        {{ comment.created_on }}
                    </span> wrote:
                </p>
                {{ comment.body | linebreaks }}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-4 card mb-4  mt-3 ">
        <div class="card-body">
            {% if commented %}
            <div class="alert alert-sucess" role="alert">
                Your comment is awaiting approval
            </div>
            {% else %}

            {% if user.is_authenticated %}

            <h3>Leave Comment:</h3>
            <p>Posting as: {{ user.username }}/p>
            <form method="post" style="margin-top: 1.3em;">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-signup btn-lg">Submit</button>
            </form>

            {% endif %}
            {% endif %}
        </div>
    </div>
</div>



{% endblock content %}