{% extends "base.html" %}

{% block content %}

<!--------------------------- Add Media Form -->

<div class="container form-bg">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h2 class="form-title">Add something to the watch list</h2>

            <div class="row">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div>
                        {{ form.as_p }}
                    </div>
                    <div>
                        <button class="primaryAction btn btn-danger">
                            <input type="submit" value="Sumbit" id="add-submit">
                        </button>
                        <button class="primaryAction btn btn-danger form-btn"><a href="{% url 'media_list' %}"
                                role="button" id="btn-cancel">Cancel</a></button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

{% endblock %}