{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
        <h2>Delete from watch list</h2>

        <p>Are you sure you want to delete {{ media.title }}</p>

  <div class="row">
    <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        <div>
            {{ form.as_p }}
        </div>
        <div class="update-btn-group">
            <button type="submit" class="delete-btn">Delete</button>
            <a href="{% url 'home' %}" role="button" class="cancel-btn">Cancel</a>
        </div>
    </form>
</div>

</div>
</div>
</div>

{% endblock %}